.navbar-toggler {
	border: none;
}
a,
a:hover {
	text-decoration: none;
	color: inherit;
}
.foot a:hover {
	color: #00ad57;
}
.footer-li-text {
	font-size: 12px;
	letter-spacing: 0.4px;
	line-height: 28px;
}
