.feed h1,
.feed h2,
.feed h3,
.feed h4,
.feed h5,
.feed h6 {
	color: #00134d;
	font-weight: 700;
}
.container {
	font-size: 14px;
}
ul {
	list-style: circle;
}
.url_baseline {
	background: #f8f9fa;
}
.doc {
	font-weight: bold;
}
.route {
	font-weight: normal;
}
.information a {
	color: #00ad57;
}
