/* header {
	background: #212266;
} */
body {
	font-family: 'Noto Sans', sans-serif;
}
body a:hover {
	text-decoration: none;
}
/* .under {
	position: sticky;
	bottom: 0;
	z-index: -1;
} */
.maxer {
	max-width: 1250px;
}
.maxer-800 {
	max-width: 800px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: /* 'IBM Plex Serif', */ 'Fira Sans', serif;
}
.col {
	max-width: 100vw;
}
.footer {
	color: white;
	font-size: 13px;
}
.footer a {
	text-decoration: underline;
}
.bottom-0 {
	bottom: 0;
}
header .maxer {
	min-height: 100vh;
	display: grid;
	padding-bottom: 10vh;
	/* place-items: center center; */
	place-content: center;
}
header .maxer {
	vertical-align: middle;
	padding-top: auto;
	padding-bottom: auto;
}
/* .description {
	margin-top: 100%;
} */
.screen-width {
	position: fixed;
	color: rgb(128, 128, 128);
}
.benefit-h1 {
	font-weight: 200;
	line-height: 1.21;
	letter-spacing: -0.4px;
	color: #00134d;
}
.text-green {
	color: #00ad57;
}
.img-front {
	max-width: 600px;
}
.h-stats {
	font-size: 48px;
	font-weight: 300;
	line-height: 1.27;
	color: #00ad57;
}
.p-stats {
	font-weight: 300;
	line-height: 1.6;
	letter-spacing: 0.4px;
	color: rgba(255, 255, 255, 0.6);
}

.bottomed {
	bottom: 0;
}
.main-h1 {
	font-size: 45px;
	font-weight: 300;
	line-height: 1.17;
	letter-spacing: -0.4px;
	color: #ffffff;
}
.text-muted-resp {
	font-weight: 300;
	line-height: 1.6;
	letter-spacing: 0.4px;
	color: rgba(255, 255, 255, 0.6);
}
.bg-purple {
	background-color: #00134d;
}
.bg-pink {
	background-color: #44004d;
}
.bg-green {
	background-color: #00ad57;
}
.bg-pink {
	color: #44004d;
}
.text-purple {
	color: #00134d;
	font-weight: bold;
}
s .text-purple-normal {
	color: #00134d;
}
.text-ecosystem {
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 6px;
	text-align: center;
	color: #00134d;
}
.ecosystem p {
	color: rgba(0, 19, 77, 0.5);
}
.ecosystem h2 {
	font-size: 40px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: -0.2px;
	text-align: center;
	color: #00134d;
}
.ecosystem img {
	max-width: 500px;
}
.ecosystem .more-title {
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.75;
	letter-spacing: 0.3px;
	color: #00134d;
}
.width-limit {
	max-width: 490px;
}
.button-green {
	max-width: 200px;
	padding: 5px 40px;
	border-radius: 20px;
	border: solid 1.5px #00ad57;
	background: transparent;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.3px;
	color: #00ad57;
}
.button-green:hover {
	background: #00ad57;
	color: white;
	cursor: pointer;
}
.products {
	color: white;
}
.products .description {
	font-size: 19px;
	line-height: 1.33;
	letter-spacing: 0.3px;
}
.products .card {
	box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.192);
	border-radius: 10px;
	height: 95%;
}
.products h3 {
	font-size: 28px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.43;
	letter-spacing: normal;
	text-align: center;
	color: #00134d;
}
.products .solutions {
	font-weight: 200;
	line-height: 1.21;
	letter-spacing: -0.4px;
}
.products .description {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.33;
	letter-spacing: 0.3px;
	max-width: 500px;
}
.join .text-purple {
	font-size: 40px;
	font-weight: 300;
}
.join .button-green {
	max-width: 80%;
	padding: 7px 0;
	margin-bottom: 1em;
	text-align: center;
}
.join .button-green.bg-green {
	background: #00ad57;
	color: white;
}
.join .button-green.bg-green:hover {
	background: transparent;
	color: #00ad57;
}
.offers .text-green {
	font-weight: bold;
}
.offers .muted {
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.75;
	letter-spacing: 0.3px;
	color: rgba(0, 19, 77, 0.5);
}
.offers ul {
	list-style-type: none;
}

.bg-blue {
	background-color: #009ccc;
}
@media (min-width: 768px) {
	.offers ul {
		margin-left: -15px;
		margin-bottom: 0;
		padding-left: 0;
	}
	.benefit-h1 {
		font-size: 68px;
	}
	.products .solutions {
		font-size: 68px;
	}
	.products .description {
		font-size: 30px;
		line-height: 1.44;
		letter-spacing: 0.3px;
	}
}
@media (min-width: 576px) {
	.offers ul li::first-letter {
		font-weight: bold;
	}
	.main-h1 {
		font-size: 60px;
	}
}
@media (min-width: 400px) {
	.main-h1 {
		font-size: 55px;
	}
}
