/* header {
	background: #212266;
} */
body {
	font-family: 'Noto Sans', sans-serif;
}
body a:hover {
	text-decoration: none;
}
.navbar-toggler {
	border: none;
	color: white;
}
.text-green {
	color: #00ad57;
}
.img-front,
.img-front-2 {
	max-width: 600px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'IBM Plex Serif', serif;
}
.main-h1 {
	font-family: 'IBM Plex Serif';
	font-size: 60px;
	font-weight: 300;
	line-height: 1.17;
	letter-spacing: -0.4px;
	color: #ffffff;
}
.text-muted-resp {
	color: rgba(255, 255, 255, 0.7);
}
.bg-purple {
	background-color: #00134d;
}
.bg-green {
	background-color: #00ad57;
}
.text-purple {
	color: #00134d;
	font-weight: bold;
}
.text-ecosystem {
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 6px;
	text-align: center;
	color: #00134d;
}
.ecosystem p {
	color: rgba(0, 19, 77, 0.5);
}
.ecosystem h2 {
	font-size: 40px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: -0.2px;
	text-align: center;
	color: #00134d;
}
.ecosystem img {
	max-width: 500px;
}
.button-green {
	max-width: 200px;
	padding: 5px 40px;
	border-radius: 20px;
	border: solid 1.5px #00ad57;
	background: transparent;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.3px;
	color: #00ad57;
}
.button-green:hover {
	background: #00ad57;
	color: white;
	cursor: pointer;
}
.products {
	color: white;
}
.products .description {
	font-size: 19px;
	line-height: 1.33;
	letter-spacing: 0.3px;
}
.products .card {
	box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.192);
	border-radius: 10px;
	height: 95%;
}
.products h3 {
	font-size: 28px;
	font-weight: 600;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.43;
	letter-spacing: normal;
	text-align: center;
	color: #00134d;
}
.join .text-purple {
	font-size: 40px;
	font-weight: 300;
}
.join .button-green {
	max-width: 80%;
	padding: 7px 0;
	margin-bottom: 1em;
	text-align: center;
}
.join .button-green.bg-green {
	background: #00ad57;
	color: white;
}
.join .button-green.bg-green:hover {
	background: transparent;
	color: #00ad57;
}
.offers .text-green {
	font-weight: bold;
}
.offers .muted {
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.75;
	letter-spacing: 0.3px;
	color: rgba(0, 19, 77, 0.5);
}
.offers ul {
	list-style-type: none;
}
.bg-blue {
	background-color: #009ccc;
}
@media (min-width: 768px) {
	.text-muted-resp {
		color: #6c757d;
	}
	.bg-purple {
		background-color: #212266;
	}
	.offers ul {
		list-style-type: circle;
		margin-left: 0;
		padding-left: 0;
	}
}
@media (min-width: 576px) {
}
